<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jinshisong"
      android:versionCode="1"
      android:versionName="1.0"><!--
    <uses-sdk android:minSdkVersion="10" />

    -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
<application android:icon="@drawable/icon" android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".Splash"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
                  android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Deliveryman" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".RefreshAndShowOrders" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowSettings" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowOrder" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowDishes" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".FivestarRating" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowRoute" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowRestaurantOnMap" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowCustomerOnMap" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowRestaurantDishes" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowJinshisongDishes" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name=".ShowSetMenuDishes" android:label="@string/app_name" android:screenOrientation="portrait" />
    	<service android:name=".track.LocationService"/>
    	<service android:name=".Cache"></service>
    	<activity android:name=".baiduRoute"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
</manifest>